.colorSchemeWhite-33VuSr .link-oDO0Ir,
.colorSchemeWhite-33VuSr .logo-3LF899,
.colorSchemeWhite-33VuSr .menuIcon-3UgAfy {
  color: white;
}

.navbar-brand {
  font-size: 2.25rem;
  color: white !important;

  &-logoimage {
    width: 15rem;
  }
}

.navbar {
  background-color: #7289da !important;

  .signed-in-as {
    display: none;

    @include for-size(tablet-landscape-up) {
      @include flex-dat('center', 'row');

      .title {
        padding-right: 0.5em;
      }

      img {
        border-radius: 50%;
        height: 1.5em;
      }
    }
  }

  a {
    span {
      display: none;

      @include for-size(tablet-landscape-up) {
        display: inline-block;
      }
    }
  }
}
