#dashboard {
  .content {
    @include flex-dat("center", "row");
    .server {
      @include flex-dat("center", "column");
      border-color: $primary;
      margin: 2rem;
      padding: 1rem;
      min-width: 20rem;

      .card-body {
        @include flex-dat("center", "column");
      }

      .card-img {
        border-radius: 50% !important;
        width: 5rem;
        height: 5rem;
        border: 2px solid $primary;
        background-color: $primary;
      }
    }
  }

  .add-server {
    @include flex-dat("center");
    position: absolute;
    bottom: 2em;
    width: 100%;

    &-text {
      text-transform: capitalize;
    }
  }
}
