#index {
  background-color: $primary;
  .container-fluid {
    @include flex-dat("center", "column");
    min-height: 100vh;

    .btn {
      svg {
        padding-top: 2px;
      }
    }

    .title {
      padding-bottom: 16px;
      color: white;
    }
  }
}

.home-logo-img {
  width: 25em;
}