#content-settings {
  @include flex-dat("center", "column");
  padding: 0; 
  @include for-size(tablet-landscape-up) {
    @include flex-dat("start", "row");
  }
}

.settings {
  .content {
    @include flex-dat("space-between", "row");
    max-width: none;
    .col {
      @include flex-dat("center");
      width: auto;
      max-width: none;
      padding: 0;

      .container-fluid {
        @include flex-dat("start", "column");

        .btn-group-vertical {
          width: 100%;
          @include for-size(tablet-landscape-up) {
            min-height: 88vh;
          }

          .btn-shutdown {
            display: none;
            @include for-size(tablet-landscape-up) {
              display: inline-block;
            }
          }

          .btn {
            border-radius: 0;
            min-height: 8em;
            @include for-size(tablet-landscape-up) {
              min-height: auto;
            }
          }
        }
      }

      .settings-properties {
        @include flex-dat("center", "center");
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        min-height: 65vh;
        @include for-size(tablet-landscape-up) {
          min-width: 58em;
          padding-right: 10em;
        }
      }
    }

    .sidebar {
      @include for-size(tablet-landscape-up) {
        max-width: 30em;
      }
      .container-fluid {
        padding: 0;
      }

      .container-fluid .btn-group-vertical {
        @include flex-dat("start", "row");

        @include for-size(tablet-landscape-up) {
          @include flex-dat("start", "column");
          max-width: 30%;
        }
      }
    }
  }
}
