mixin navbar(botTag)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/')
      img(src="/logo.png", alt="Plugit Logo").navbar-brand-logoimage
    ul.navbar-nav.mr-auto
      .signed-in-as
        span.title Signed Into Discord As: 
        img(src=botAvatar)
        a  #{botTag}
    a(href='/settings')
      button.btn.btn-light.btn-md
        i.fas.fa-cog
        span   Settings