extends layout
include includes/navbar

block content
  main#dashboard
    +navbar(botTag)
    #content.content.container-fluid
        each server, i in servers
                .server.card
                    .card-body
                        if server.iconURL
                            img.card-img(src=server.iconURL)
                        else 
                            h4=server.nameAcronym
                        br
                        br
                        h2.card-title= server.name
                        p.card-text Total Members: 
                            b= server.memberCount
                        a(href='/server/' + server.discord_ID).card-link
                            button.btn.btn-primary 
                                i.fas.fa-cogs
                                span   Settings #{botTag}
            

    .add-server
        a(href='https://discord.com/api/oauth2/authorize?client_id=355715029296742403&permissions=0&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2F&scope=bot')
            button.btn.btn-primary.btn-lg 
                i.fas.fa-plus
