extends layout

block content
  #index
    #content.container-fluid
      img(src="/logo.png").home-logo-img
      h2.title The Modular Discord Bot.
      a(href='/auth')
        button.btn.btn-lg.btn-light
          include includes/discordlogo