extends layout
block content
  main#settings-dashboard.settings
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(type='text/javascript' src='/js/settings.js')
    include includes/navbar
    +navbar(botTag)
    #content-settings.content.container
      .col.sidebar
        .container-fluid
          .btn-group-vertical
            each setting, i in settings
              if setting.active
                button.btn.btn-primary.btn-lg.active
                  i.fas(class='fa-' + setting.icon)
                  span= "  " + setting.name
              else
                button.btn.btn-primary.btn-lg 
                  i.fas(class='fa-' + setting.icon)
                  span= "  " + setting.name
            button(onclick="window.location.href='/settings/stop'").btn.btn-danger.btn-lg.btn-shutdown Shutdown
            button(onclick="window.location.href='/settings/restart'").btn.btn-danger.btn-lg Restart
      .col
        .container-fluid.settings-properties
          h2
            i.fas.fa-cog
            span  General Settings
          br

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Client ID
            input(type='text' value=clientid readonly=clientidReadOnly).form-control#client_id

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Client Secret
            input(type='password' value=clientsecret readonly=clientsecretReadOnly).form-control#client_secret

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Command Prefix
            input(type='text' value=prefix readonly=prefixReadOnly).form-control#prefix

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Token
            input(type='password' value=token readonly=tokenReadOnly).form-control#token

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Playing:
            textarea().form-control#playing #{playing}

          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Session Secret
            input(type='password' value=SESSION_SECRET readonly=SESSION_SECRET_ISREADONLY).form-control#SESSION_SECRET


          .btn-group
            button.btn.btn-large.btn-success Save


